
$color-maroon:rgba(210,105,33,0.8);
$color-black:black;
$color-white:white;
$color-cream:rgb(255,253,208);
$color-gold:goldenrod;
$color-crimson:crimson;
$color-coral:coral;


$grid-width:114rem;
$gutter-horizontal:6rem;
$gutter-vertical:8rem;