.section-about{
    background-color:rgba($color-cream,.9);
    background-size: cover;
    padding:20rem 0 49rem 0;
    margin-top: -25vh;

}
.section_features{
    padding:16.5rem 0 ;
    background-image: linear-gradient( rgba($color-maroon,.7),rgba($color-maroon,.9));
    background-size: cover;
    height: 55rem; 
    margin-top: -11.3vh;
    transform: skewY(-6.4deg);
    &>*{
        transform: skewY(6.4deg);;
    }
    
}
.section_orders{
    margin-top:-11.3vh;
    background-color:rgba($color-cream,.9);
    background-size: cover;
    padding:16rem 0 50rem 0;
    
}